# Exercises: Complex queries

For the exercises, you are tasked with writing five queries that will help you delve deeper into BooksDB. You can choose whether you want to use a correlated subquery, a nested subquery, the UNION operator, the INTERSECT operator, or the EXCEPT operator for each one. You may not use joins or add multiple statements to the WHERE clause.

1. Write a query that will return the number of users who rated a book above it's average rating.

In [1]:
-- SELECT COUNT(user_id) FROM BooksDB.dbo.ratings, BooksDB.dbo.books WHERE average_rating < rating
--     SELECT COUNT(user_id)
--     FROM BooksDB.dbo.ratings, BooksDB.dbo.books
--     WHERE BooksDB.dbo.ratings.book_id = BooksDB.dbo.books.book_id; 
-- ^^ my orginal code, diff outcome, can review 



-- SELECT COUNT(DISTINCT user_id) AS optimistic_raters
-- FROM BooksDB.dbo.ratings AS r
-- WHERE rating > (
--     SELECT average_rating
--     FROM BooksDB.dbo.books
--     WHERE book_id = r.book_id
-- )

--^^ correlated subquery, we are comparing the outer query table (the ratings table) to the inner query table (books table). The inner query table
-- is correlated to the outer query

2. Write a query that returns the book ids of all books that have over 1000 ratings of 1 star or over 1000 ratings of 5 stars.

In [2]:
-- SELECT book_id FROM BooksDB.dbo.books WHERE ratings_1 >= 1000
-- UNION
-- SELECT book_id FROM BooksDB.dbo.books WHERE ratings_5 >= 1000
--my original code, can review


-- SELECT book_id AS extreme_book_id
-- FROM BooksDb.dbo.books
-- WHERE ratings_1 > 1000
-- UNION 
-- SELECT book_id AS extreme_book_id
-- FROM BooksDB.dbo.books
-- WHERE ratings_5 > 1000
-- ORDER BY book_id ASC;
--^^ taking two tables and combining them


-- SELECT book_id AS extreme_book_id
-- FROM BooksDB.dbo.books
-- WHERE ratings_1 > 1000 OR ratings_5 > 1000
-- ORDER BY book_id ASC;
--^^ a code that does everything without using the union

3. Write a query that returns the book ids of all books that have over 1000 ratings of 1 star and over 1000 ratings of 5 stars.

In [3]:
-- SELECT book_id FROM BooksDB.dbo.books WHERE ratings_1 >= 1000
-- INTERSECT
-- SELECT book_id FROM BooksDB.dbo.books WHERE ratings_5 >= 1000


-- SELECT book_id 
-- FROM BooksDB.dbo.books
-- WHERE ratings_1 > 1000
-- INTERSECT 
-- SELECT book_id 
-- FROM BooksDB.dbo.books
-- WHERE ratings_5 > 1000
-- ORDER BY book_id ASC;


-- SELECT book_id 
-- FROM BooksDB.dbo.books
-- WHERE ratings_1 > 1000 AND ratings_5 > 1000
-- ORDER BY book_id ASC;

4. Write a query that returns the book ids of books that have a language code of "en-US" and not a langugae code of "en-GB".

In [4]:
-- SELECT book_id FROM BooksDB.dbo.books WHERE language_code LIKE ('%en-US%') --or WHERE language_code='en-US'
-- EXCEPT
-- SELECT book_id FROM BooksDB.dbo.books WHERE language_code LIKE ('%en-GB%') --or WHERE language_code='en-GB'
--^^ code would work fine without the EXCEPT since it technically cant be getting two things at the same time. If its already getting the en-US
--then it wouldn't need to also NOT get the 'en-GB', its a given

5. Write a query that returns the names of the tags and the tag ids for tags that were used over 100,000 times for a book.

In [5]:
-- SELECT tag_name, BooksDB.dbo.book_tags.tag_id FROM BooksDB.dbo.tags, BooksDB.dbo.book_tags WHERE count > 100000     
--     SELECT DISTINCT tag_name 
--     FROM BooksDB.dbo.tags, BooksDB.dbo.book_tags
--     WHERE BooksDB.dbo.tags.tag_id = BooksDB.dbo.book_tags.tag_id;
--my code, can be reviewed


-- SELECT tag_name, tag_id 
-- FROM BooksDB.dbo.tags 
-- WHERE tag_id IN(
--     SELECT tag_id 
--     FROM BooksDB.dbo.book_tags
--     WHERE count > 100000
-- )